@page "/intropage"

<h1>Welcome to Itahari International College</h1>

<img src="images/college_photo.jpg" />

Our Itahari international College's' one of the biggest event spring carnival perfromed by The Element. This was awesome moment for the first concert at IIC.

@code {

}
