@page "/profile"
<h1>Student Profile</h1>
<img src="@photoPath" />
<br />
<b>Student Name:</b> @studentName <br />
<b>Course Name:</b> @courseName
<br />
<b>Batch Year:</b> @batchYear
<br />


@code {
    public string photoPath = "images/college_photo.jpg";
    public string studentName = "ABD";
    public string courseName = ".NET MAUI Hybrid Training";
    public string batchYear = "2025";

}
